
.header
  .rakuten
    %a{:href => "https://hb.afl.rakuten.co.jp/hsc/1cd5e9d3.bbf92c92.1cd5e9b0.54beed16/?link_type=pict&ut=eyJwYWdlIjoic2hvcCIsInR5cGUiOiJwaWN0IiwiY29sIjowLCJjYXQiOiIxNCIsImJhbiI6IjM4NDk0NSJ9", :rel => "nofollow sponsored noopener", :style => "word-wrap:break-word;", :target => "_blank"}
      %img{:alt => "", :border => "0", :src => "https://hbb.afl.rakuten.co.jp/hsb/1cd5e9d3.bbf92c92.1cd5e9b0.54beed16/?me_id=1&me_adv_id=384945&t=pict", :style => "margin:15px", :title => ""}/
    %a{:href => "https://hb.afl.rakuten.co.jp/hsc/1cd5f7ea.92fe6b56.1cd5e9b0.54beed16/?link_type=pict&ut=eyJwYWdlIjoic2hvcCIsInR5cGUiOiJwaWN0IiwiY29sIjowLCJjYXQiOiIxIiwiYmFuIjoiNjQ0MDgzIn0%3D", :rel => "nofollow sponsored noopener", :style => "word-wrap:break-word;", :target => "_blank"}
      %img{:alt => "", :border => "0", :src => "https://hbb.afl.rakuten.co.jp/hsb/1cd5f7ea.92fe6b56.1cd5e9b0.54beed16/?me_id=1213310&me_adv_id=644083&t=pict", :style => "margin:15px", :title => ""}/

  .info
    .btn-cross
      = link_to current_user.name, edit_user_path(current_user) 
    .btn-cross
      = link_to 'マンガ新規作成', new_manga_path(current_user)

.form
  = form_with(url: search_mangas_path, local: true, method: :get, class: "search-form") do |form|
    = form.text_field :keyword, placeholder: "マンガを検索する　＊タイトルか作者を入力", class: "search-input"
    = form.submit "検索", class: "search-btn"

.main
  .book
    - current_user.mangas.each do |manga| 
      .manga 
        .input
          = link_to '編集', edit_manga_path(manga.id)
          = link_to '削除', manga_path(manga.id), method: :delete,data: { confirm: "【確認】マンガを削除してもよろしいですか？" }
        .information タイトル/作者/巻数
        = manga.title.truncate(20, omission: '...')
        = manga.author
        /
        = manga.volume
        %span<>
        巻
        -# = manga.user_id
        .memo
          メモ→
          = manga.memo.truncate(45, omission: '...')