
.header
  .weather
    
    天気欄<br> タスク <br>検索ユーザー制限<br>検索欄作成<br>天気欄作成<br>編集画面、新規作成画面等ビューの調整
    = current_user.id
  .info
    .login
      = link_to current_user.name, edit_user_path(current_user) 
    .new
      = link_to 'マンガ新規作成', new_manga_path(current_user)

.form
  = form_with(url: search_mangas_path, local: true, method: :get, class: "search-form") do |form|
    = form.text_field :keyword, placeholder: "マンガを検索する　＊タイトルか作者を入力", class: "search-input"
    = form.submit "検索", class: "search-btn"
  


  
      
.main

  .book
    - current_user.mangas.each do |manga| 
      .manga 
        .input
          = link_to '編集', edit_manga_path(manga.id)
          = link_to '削除', manga_path(manga.id), method: :delete,data: { confirm: "【確認】マンガを削除してもよろしいですか？" }
        .test タイトル/作者/巻数
        = manga.title.truncate(20, omission: '...')
        = manga.author
        = manga.volume
        = manga.user_id
        .memo= manga.memo.truncate(45, omission: '...')
        
        
